.body {
    box-sizing: border-box;
    max-width: 430px;
    padding: 0 14px;
    margin: 0 auto;
}

.header {
    &__inner {
        padding: 20px 0;
    }
    &__logo {
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
        font-size: 18px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;

    &__inner {
        padding: 20px 0 40px;
    }

    &__nav {
    }

    &__navList {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    &__navItem {
    }

    &__navLink {
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
    }
}
