@mixin btn(
    $width: 240px,
    $height: 40px,
    $mt: 60px,
    $bg-color: black,
    $color: white,
    $fs: 18px
) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;
    border-radius: 8px;
    margin-top: $mt;
    margin-right: auto;
    margin-left: auto;
    background-color: $bg-color;
    color: $color;
    font-weight: bold;
    font-size: $fs;
    text-align: center;
}

body {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #ccc;
    }

    th {
        padding: 8px 4px;
    }

    td {
        padding: 4px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label {
        max-width: 300px;
    }

    input,
    select {
        width: 100%;
        height: 40px;
        border: 1px solid black;
        border-width: 1px;
        padding: 4px 10px;
        font-size: 16px;
    }
}

.body {
    box-sizing: border-box;
    max-width: 430px;
    padding: 0 14px;
    margin: 0 auto;
}

.header {
    &__inner {
        padding: 20px 0;
    }
    &__logo {
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
        font-size: 18px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;

    &__inner {
        padding: 20px 0 40px;
    }

    &__nav {
    }

    &__navList {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    &__navItem {
    }

    &__navLink {
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
    }
}

.page-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.page-content {
}

.page-text {
    font-size: 16px;

    &--top {
        margin-bottom: 60px;
        font-weight: bold;
        font-size: 18px;
    }
}

.form-spend {
    &__label {
        margin: 0 auto;
        & + .form-spend__label {
            margin-top: 20px;
        }
    }

    &__input {
        &--amount {
            height: 60px;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
        }
    }

    &__btn {
        @include btn;
        position: fixed;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.form-search {
    &__list {
        display: grid;
        gap: 20px;
    }

    &__btn {
        @include btn($mt: 20px);
    }
}

.balance {
    &__month {
        font-weight: bold;
        margin-bottom: 14px;
    }
    &__list {
        display: grid;
        gap: 10px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__label {
    }

    &__value {
    }
}

.saving {
    &__list {
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__label {
    }

    &__value {
    }
}

.history-table {
    &__head {
        background: black;
        color: #fff;
        font-weight: bold;
    }
    &__row {
    }
    &__cell {
        &--spent_at {
            text-align: center;
        }
        &--amount {
            text-align: right;
        }
        &--runningTotal {
            text-align: right;
        }
        &--destroy {
            text-align: center;
        }
    }
}
